<% @ideas.each do |idea| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= idea.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted">User and timestamp</h6>
      <p class="card-text"><%= idea.description %></p>
      <a href="<%= idea_path(idea) %>%" class="card-link">View</a>
    </div>
  </div>
<% end %>